%section {
  width: 100%;
  position: relative;
}

%section-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @include media('<phone-lg') {
    padding-left: rem(16);
    padding-right: rem(16);
  }

  @include media('>=phone-lg', '<tablet-lg') {
    padding-left: rem(24);
    padding-right: rem(24);
  }

  @include media('>=tablet-lg', '<tablet-xl') {
    padding-left: rem(32);
    padding-right: rem(32);
  }

  @include media('>=tablet-xl', '<desktop-md') {
    padding-left: rem(48);
    padding-right: rem(48);
  }

  @include media('>=desktop-md') {
    padding-left: rem(80);
    padding-right: rem(80);
  }
}
