# https://prettier.io/docs/en/ignore.html

# ignore directories that are not source code
.eslintcache
.next
.output
.turbo
.vercel
.vercel
.vercel_build_output
.vscode
dist
node_modules
public
coverage
.DS_Store
.changeset
package.json
pnpm-lock.yaml
package-lock.json
yarn-error.log
next-env.d.ts
turbo-cache-key.json
